*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: rgb(249, 211, 217);
    text-align: center;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
}
.msg
{
    font-size: 8vmin;
    margin-right: 3vmin;
}
 #heading
 {
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(142, 52, 194);
    border-radius: 1.5rem;
    border-color: rgba(rgb(32, 30, 30), 0.2);
    border:0.5rem rgba(22, 21, 21, 0.5) solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

 }
 
.container{
    margin-top: 1rem;
    height :53vh;
    width:43vh;
    background-color:rgb(142, 52, 194);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    border-radius: 1.5rem;
    border-color: rgba(rgb(32, 30, 30), 0.2);
    border:0.5rem rgba(22, 21, 21, 0.5) solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    

}
.game
{
    background-color: rgb(239, 151, 195);
    height:40vh;
    width:40vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    
    margin-bottom: 2.5vmin;
    border-radius: 1.5rem;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.box
{
    font-size: 2.5rem;
    border-radius: 1.5rem;
    
    margin:1vmin;
    height:11vh;
    width:11vh;
    background-color: rgb(239, 239, 236);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.reset
{
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    height:2.5rem;
    width:13rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.new-btn
{
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    height:2.5rem;
    width:13rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.hide
{
    display:none;
}